<h1>Log In</h1>
<<<<<<< HEAD:app/views/sessions/_new.html.erb
<div id='errors'>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>
<div id='login-form'>
<h1>Log In</h1>

  <%=form_tag log_in_path, remote: true do%>
=======
  <%=form_tag log_in_path do%>
>>>>>>> parent of f6bd2a0... Added error handling for login:app/views/sessions/new.html.erb
    <%=label_tag :email %>
    <%=text_field_tag :email %><br>
    <%=label_tag :password %>
    <%=password_field_tag :password %><br>
    <%=submit_tag "Log in" %>
  <%end%>
  <%= link_to 'Sign Up', new_user_path %>
</div>
