<h1>One stop for all the internet's cutest animals</h1>

<% if @tag.nil? %>
  Sorry, there are no results for that search.
<% else %>
  Search results for "<strong><%= @tag.name %></strong>":
<% end %>

<div class="tile-images">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <div id="post<%=post.id%>">
            <div id="manage-post">
              <div class="image"><%= link_to image_tag(post.image_url), post_path(id: post.id) %> <div class="stats">Votes: <%= post.votes.count %> Comments: <%= post.comments.count %></div>
                </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
