<h1>One stop for all the internet's cutest animals</h1>

<% unless @user %>
  <div class="sort-posts">
    <%= link_to "Most Popular >", popular_path %>
  </div>
  <div class="recent-posts">
      <%= link_to "Most Recent >", posts_path %>
  </div>
<% end %>

<div class="new-post">
    <%= link_to "New Post >", new_post_path %>
</div><br><br><br>

<% if @user %>
<%= link_to "Delete Account", user_path(id: @user.id), method: :delete, data: { confirm: "Are you sure?" }, id: "delete-account"  %>
<% end %>

<div class="images-container">
  <% if @posts.empty? %>
    <p>You haven't added any animals yet. Create a new post to get started!</p>
  <% end %>

  <div class="tile-images">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <div id="post<%=post.id%>">
            <div id="manage-post">
              <div class="image"><%= link_to image_tag(post.image_url), post_path(id: post.id) %> <div class="stats">Votes: <%= post.votes.count %> Comments: <%= post.comments.count %></div>
                </div>
              <% if @user %>
                  <%= button_to "Edit Image", edit_post_path(id: post.id), method: :get, form_class: "edit-image" %><%= button_to "Delete Image", post_path(id: post.id), method: :delete, data: { confirm: "Are you sure?" }, form_class: "delete-image"  %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>