<h1>Animaux!</h1>
<h4>One stop for all the internet's cutest animals</h4>

<h2><%= @post.title %></h2>
<h5>by <%= @post.author %>  <%= @post.created_at %></h5>

<img src="<%= @post.image_url %>">
<div id='votes'>
<%= @post.tags.join(' ') %>
</div>

<div id='comments'>
  <% @post.comments.each do |comment| %>
  <%= comment.text %>
  <%= comment.commenter %>
  <% comment.replies.each do |reply| %>
</div>
