<!DOCTYPE html>
<html>
<head>
  <title>Adventure</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <!-- <link rel="stylesheet" href="magnific-popup/magnific-popup.css"> -->
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header>
      <div class="logo"><%= link_to "Animaux!", posts_path %></div>
      <nav>
        <% if session[:user_id] %>
          <ul>
            <li><%= link_to "My Animaux", my_animaux_path(id: current_user.id) %></li>
            <li><%= link_to "Log Out", log_out_path %></li>
          </ul>
        <% else %>
        <div id='login-signup'>
          <ul>
            <li><%= link_to "Log In", log_in_path, remote: true, id: 'login-link' %></li>
            <li><%= link_to "Sign Up", new_user_path, remote: true, id: 'signup-link' %></li>
          </ul>
        </div>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </div>

</body>
</html>
