<!DOCTYPE html>
<html>
<head>
  <title>Adventure</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', media: 'all' %>
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header>
      <div class="logo"><%= link_to "Animaux!", posts_path %></div>
      <nav>
        <% if session[:user_id] %>
          <ul>
            <li><%= link_to "My Animaux", my_animaux_path(id: current_user.id) %></li>
            <li><%= link_to "Log Out", log_out_path %></li>
          </ul>
        <% else %>
        <div id='login-signup'>
          <ul>
            <li><%= link_to "Log In", log_in_path, id: 'login-link', :'data-featherlight' => 'ajax' %></li>
            <li><%= link_to "Sign Up", new_user_path, id: 'signup-link', :'data-featherlight' => 'ajax' %></li>
          </ul>
        </div>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </div>

</body>
</html>
